 Mongo
MONGO_URI=
MONGO_DB_NAME=
MONGO_COLLECTION_NAME=
# Redis
REDIS_URL=
# REDIS_URL back to redis://localhost:6379/0
#JWT
JWT_SECRET=
ACCESS_TOKEN_EXPIRES_MINUTES=30
REFRESH_TOKEN_EXPIRES_DAYS=7
# Hold TTL (seconds)
HOLD_TTL_SECONDS=600